<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .menuName{
            cursor: pointer;
        }
    </style>
</head>
<body>
<header>
<th:block th:insert="~{/sub/header.html}"></th:block>
</header>
<section>
    <div>
        <button onclick="loadMenu('한식')" class="active">한식</button>
        <button onclick="loadMenu('중식')">중식</button>
        <button onclick="loadMenu('일식')">일식</button>
        <button onclick="loadMenu('양식')">양식</button>
        <button onclick="loadMenu('기타')">기타</button>
    </div>
    <div id="menuList"></div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        loadMenu('한식');
    });

    function loadMenu(category) {
        fetch(`/api/menu/menu_all_list?category=${encodeURIComponent(category)}`, {  // encodeURIComponent:한글이나 특수 문자 등이 포함된 문자열을 URL의 파라미터로 전달할 수 있게 해주는 함수
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            let html = '<div>';
            data.forEach(menu => {
                html += `<div class="menuName" onclick="loadRecipeList('${menu.mcode}')">${menu.menuName}</div>`;
            });
            html += '</div>';
            document.getElementById('menuList').innerHTML = html;
        })
        .catch(error => console.error('Error:', error));
    }

    
    function loadRecipeList(mcode) {

        window.location.href = `/menu_all/recipe_list?mcode=${mcode}`;
    }
</script>
</body>
</html>