<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
    </style>
</head>
<body>
<header>
<th:block th:insert="~{/sub/header.html}"></th:block>
</header>
<section>
    <h1>recipe_detail</h1>
    <hr>
    <h2></h2>
    <div>
        <p>rcode : <span th:text="${rcode}"></span></p>
        <p>recipeName : <span th:text="${recipeName}"></span></p>
        <p>introduce : <span th:text="${introduce}"></span></p>
        <iframe th:src="'https://www.youtube.com/embed/' + ${url}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
    </div>
    <h2>Ingredients</h2>
    <div th:each="ingredient : ${recipeIngredientList}">
        <p>Name: <span th:text="${ingredient?.name}"></span></p>
        <p>Amount: <span th:text="${ingredient?.amount}"></span></p>
    </div>
    
    <h2>Order</h2>
    <div th:each="order : ${recipeOrderList}">
        <p>Content: <span th:text="${order.orderContent}"></span></p>
        <p>Order Number: <span th:text="${order.orderNum}"></span></p>
        <img th:src="@{${order?.cookingImg}}" alt="Cooking Image"/>
    </div>
</section>

<script>

</script>
</body>
</html>