<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe List</title>
    <style>
    </style>
</head>
<body>
<header>
    <th:block th:insert="~{/sub/header.html}"></th:block>
</header>
<section>
    <div id="recipeList">
        <div th:each="recipe : ${recipes}">
            <h3 th:text="${recipe.recipeName}">Recipe Name</h3>
            <p>메뉴: <span th:text="${recipe.menuName}">Menu Name</span></p>
            <p th:text="${recipe.introduce}">Introduce</p>
        </div>
    </div>
</section>
</body>
</html>