<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> 농산물 소매 가격 정보 </title>
    <style>

    </style>
</head>

<body>
    <header>
        <th:block th:insert="~{/sub/header.html}"></th:block>
    </header>
    <section>
        <h1>소매 가격 정보</h1>
        <button onclick="fetchDataAll()"> 오늘자 부류 데이터 가져오기</button>

        <div id="king-retail-data-section">

        </div>

    </section>
    <footer>
        <th:block th:insert="~{/sub/footer.html}"></th:block>
    </footer>
</body>
<script>

    function fetchDataAll() {
        // 100 : 식량 작물, 200 : 채소류, 300 : 특용작물, 400 : 과일류, 500 : 축산물, 600 : 수산물 
        fetch('/proxy/retail-price/p_regday=2024-07-27&p_item_category_code=200')
            .then(res => res.json())
            .then(data => {
                var itemList = data.data.item;
                console.log(itemList);
                document.getElementById('king-retail-data-section').innerHTML = "";
                for(var i = 0; i< itemList.length ; i ++ ){
                    document.getElementById('king-retail-data-section').innerHTML
                        += '<li>'
                        + '<span id="'+itemList[i].item_code+'" >' + itemList[i].item_name +'('+ itemList[i].rank +') </span>  ' 
                        + itemList[i].day1 + ' : ' + itemList[i].dpr1 + '   '
                        + itemList[i].day2 + ' : ' + itemList[i].dpr2 + '   '
                        + itemList[i].day3 + ' : ' + itemList[i].dpr3 + '   '
                        + itemList[i].day4 + ' : ' + itemList[i].dpr4 + '   '
                        + itemList[i].day5 + ' : ' + itemList[i].dpr5 + '   '
                        + itemList[i].day6 + ' : ' + itemList[i].dpr6 + '   '
                        + itemList[i].day7 + ' : ' + itemList[i].dpr7 + '   '
                        + '</li>';
                }
            })
    }

</script>

</html>