<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Document</title>
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
<style>
#by-section {
	margin: 20px;
}
label {
	margin-right: 10px;
}
input, select {
	margin-bottom: 10px;
	display: block;
}
.by-radio {
	display: inline;
	margin-right: 5px;
}
</style>
</head>
<body>
	<header>
		<th:block th:insert="~{/sub/header.html}"></th:block>
	</header>
	<section>
		<div id="by-section">
				<form id="insertForm" th:action="@{/mypage1/material_insert}" method="POST">
					<img src=""> 
					<label for="name">재료이름</label> 
					<input type="text" id="name" name="name"> 
					
					<label for="deadline">카테고리</label>
					<input type="text" id="category" name="category"> 
					
					<label for="deadline">유통기한</label> 
					<input type="text" id="deadline" name="deadline"> 
					
					<label for="amount">수량/중량</label> 
					<input type="text" id="amount" name="amount"> 
					<label for="quantity">수량</label> 
					<input class="by-radio" type="radio" id="quantity" name="type" value="quantity"> 
					<label for="weight">중량</label> 
					<input class="by-radio" type="radio" id="weight" name="type" value="weight"> 
					
					<label for="keeptype">보관상태</label> 
					<select id="keeptype" name="keeptype">
						<option th:each="keeptype : ${keeptypes}" th:value="${keeptype}"
							th:text="${keeptype}" th:selected="${keeptype}"></option>
					</select> 
					
					<input type="text" id="memo" name="memo" value="비고란"> 
					
					<input type="hidden" id="fcode" name="fcode"> 
					<input type="hidden" id="mno" name="mno"> 
					
					<input type="submit" value="등록"> 
					<input type="button" value="목록" onclick="window.location.href='/mypage_main'">
				</form>
		</div>
	</section>

	<script>
		$(document).ready(function() {

			$("#insertForm").on("submit", function(event) {
				event.preventDefault();

				const name = $("#name").val();
				const category = $("#category").val();
				const deadline = $("#deadline").val();
				const amount = $("#amount").val();
				const type = $("input[name='type']:checked").val();
				const keeptype = $("#keeptype").val();
				const memo = $("#memo").val();

				var jsonData = JSON.stringify({
					name: name,
					category: category,
					deadline: deadline,
					amount: amount,
					type: type,
					keeptype: keeptype,
					memo: memo,
				});
				console.log(jsonData);

				$.ajax({
					url : $(this).attr('action'),
					type : 'POST',
					contentType : 'application/json', // JSON 형식으로 데이터 전송
					data : jsonData,
					dataType : 'text',
					success : function(response) {
						alert("재료정보가 성공적으로 등록되었습니다🍖");
						window.location.href = "/mypage_main";
					},
					error : function(xhr, status, error) {
						console.log('Status: ' + status);
						console.log('Error: ' + error);
						alert("재료등록 실패😫");
					}
				});
			});
		});
	</script>
</body>
</html>