<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>체험 활동 정보</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<style>
table {
	font-size: 10px;
	border-collapse: collapse;
	margin: 50px;
}
#map {
	margin: 50px;
}
.search-container {
	margin-left: 50px;
}
#search-box {
	width: 330px;
	height: 25px;
	padding: 3px;
}
#search-button {
	width: 50px; 
	height: 30px;
	padding: 3px;
}
.hidden {
	display: none;
}
</style>
</head>

<body>
	<header>
		<th:block th:insert="~{/sub/header.html}"></th:block>
	</header>

	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9dc3cd9f3f49ffc9bf97e4d73894b388&libraries=services,clusterer,drawing"></script>
	<section>

		<div id="map" style="width: 500px; height: 400px;"></div>
		
		<div class="search-container">
			<input type="text" id="search-box" class="search-box" placeholder="시도명 or 시군구명 or 체험마을 or 체험내용 입력하세요.">
			<button id="search-button" class="search-button">검색</button>
		</div>
				
		<table border="1">
			<thead>
				<tr>
					<th>번호</th>
					<th>체험마을명</th>
					<th>시도명</th>
					<th>시군구명</th>
					<th>체험프로그램구분</th>
					<th>체험프로그램명</th>
					<th>소재지도로명주소</th>
					<th>대표자명</th>
					<th>대표전화번호</th>
					<th>홈페이지주소</th>
					<th>관리기관명</th>
					<th>위도</th>
					<th>경도</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="act : ${act}">
					<td th:text="${act.vacode}"></td>
					<td id="vname" th:text="${act.vname}" class="clickable" data-locationx="${act.locationx}" data-locationy="${act.locationy}"></td>
					<td th:text="${act.sido}"></td>
					<td th:text="${act.sgg}"></td>
					<td th:text="${act.acttype}"></td>
					<td th:text="${act.actname}"></td>
					<td th:text="${act.actadress}"></td>
					<td th:text="${act.ceo}"></td>
					<td th:text="${act.tel}"></td>
					<td th:text="${act.homeurl}"></td>
					<td th:text="${act.agencyname}"></td>
					<td id="locationx" th:text="${act.locationx}"></td>
					<td id="ldcationy" th:text="${act.locationy}"></td>
				</tr>
			</tbody>
		</table>

	</section>

	<footer>
		<th:block th:insert="~{/sub/footer.html}"></th:block>
	</footer>

	<script>
	var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(37.456497, 128.683133),
        level: 3
    };
    var map = new kakao.maps.Map(container, options);
    var markers = []; // 마커를 저장할 배열

    function updateMap(positions) {
        // 기존 마커 제거
        markers.forEach(marker => marker.setMap(null));
        markers = [];

        // 새 마커 추가
        positions.forEach(position => {
            var markerPosition = new kakao.maps.LatLng(position.latlng.lat, position.latlng.lng);
            var marker = new kakao.maps.Marker({
                position: markerPosition,
                title: position.title
            });
            marker.setMap(map);
            markers.push(marker);
        });

        if (positions.length > 0) {
            map.setCenter(new kakao.maps.LatLng(positions[0].latlng.lat, positions[0].latlng.lng));
        }
    }

    $(document).ready(function() {
        $("#search-button").on("click", function() {
            const searchQuery = $("#search-box").val().trim();
            console.log(searchQuery);
            if (!searchQuery) {
                alert("검색어를 입력하세요");
                return;
            }
            searchList(searchQuery);
        });

        $(document).on("click", ".clickable", function() {
            var vname = $(this).text();
            var locationx = parseFloat($(this).data("locationx"));
            var locationy = parseFloat($(this).data("locationy"));

            var positions = [{
                title: vname,
                latlng: new kakao.maps.LatLng(locationx, locationy)
            }];
            updateMap(positions);
        });
    });

    function searchList(query) {
        $.ajax({
            url: "/act/searchList",
            method: "GET",
            data: {
                query: query
            },
            success: function(data) {
                updateTable(data);
                console.log(data);
                var positions = data.map(act => ({
                    title: act.vname,
                    latlng: new kakao.maps.LatLng(act.locationx, act.locationy)
                }));
                updateMap(positions);
            },
            error: function(error) {
                console.log("Error:", error);
            }
        });
    }

    function updateTable(data) {
        const tbody = $("tbody");
        tbody.empty();
        data.forEach(act => {
            tbody.append(
                "<tr>" +
                    "<td>" + act.vacode + "</td>" +
                    "<td class='clickable' data-locationx='" + act.locationx + "' data-locationy='" + act.locationy + "'>" + act.vname + "</td>" +
                    "<td>" + act.sido + "</td>" +
                    "<td>" + act.sgg + "</td>" +
                    "<td>" + act.acttype + "</td>" +
                    "<td>" + act.actname + "</td>" +
                    "<td>" + act.actadress + "</td>" +
                    "<td>" + act.ceo + "</td>" +
                    "<td>" + act.tel + "</td>" +
                    "<td>" + act.homeurl + "</td>" +
                    "<td>" + act.agencyname + "</td>" +
                    "<td>" + act.locationx + "</td>" +
                    "<td>" + act.locationy + "</td>" +
                "</tr>"
            );
        });
    }
	    
    </script>
</body>

</html>