<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.harmony.www_service.dao.IIngredientDao">
  
  	<insert id="registIngredient">
  		INSERT INTO ingredient 
  		(name, type, tip, imgurl, category) 
  		values
  		(#{iDto.name}, #{iDto.type}, #{iDto.tip}, #{iDto.imgurl}, #{iDto.category})
  	</insert>
  	
  	<select id="findByCategory" resultType="com.harmony.www_service.dto.IngredientDto">
  		SELECT icode, name, type, tip, imgurl, category FROM ingredient WHERE category = #{category}
  	</select>
  
  	<select id="getDetail" resultType="com.harmony.www_service.dto.IngredientDto">
  		SELECT icode, name, type, tip, imgurl, category FROM ingredient WHERE icode = #{icode}
  	</select>
  	
	<update id="updateIngredient">
		UPDATE ingredient
		SET
			name = #{iDto.name},
			type = #{iDto.type},
			tip = #{iDto.tip},
			imgurl = #{iDto.imgurl},
			category = #{iDto.category}
		WHERE icode = #{iDto.icode}
	</update>
	
	<delete id="deleteIgredient">
		DELETE FROM ingredient
		WHERE icode = #{icode}
	</delete>
  
  <select id="findMenuRequest" resultType="com.harmony.www_service.dto.MenuReqDto">
	 SELECT mr.mrcode, m.username, menuName, category, imgUrl 
		FROM menu_request mr
		LEFT JOIN member m
		ON mr.mno = m.mno
	WHERE mrcode = #{mrcode}
  </select>
  
  <insert id="registRequestMenu">
  	INSERT INTO menu
  	(menuName, category, imgUrl, VIEW, type)
  	values
  	(#{mDto.menuName}, #{mDto.category}, #{mDto.imgUrl}, #{mDto.VIEW}, #{mDto.type})
  </insert>
  
  </mapper>
 	