<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmony.www_service.dao.ILikeDao">

	<select id="getRecipeLike" resultType="com.harmony.www_service.dto.Recipe_recommendDto_by">
		SELECT rr.*, r.recipeName 
		FROM recipe_recommend rr 
		JOIN recipe r 
		ON rr.rcode = r.rcode 
		WHERE rr.mno = #{mno}
	</select>

	<select id="getMenuLike" resultType="com.harmony.www_service.dto.Menu_favoriteDto_by">
		SELECT fm.*, m.menuName, m.imgurl 
		FROM favorite_menu fm 
		JOIN menu m 
		ON fm.mcode = m.mcode 
		WHERE fm.mno = #{mno}
	</select>

	<delete id="deleteRecipeReco">
		DELETE FROM recipe_recommend WHERE rrcode= #{rrcode}
	</delete>

	<insert id="insertRecipeReco">
		INSERT INTO recipe_recommend(mno, rcode) VALUES (#{mno}, #{rcode})
	</insert>

	<select id="isPresentRecommend">
		SELECT rrcode FROM recipe_recommend WHERE mno = #{mno} AND rcode = #{rcode};
	</select>

<!-- 메인 좋아요3개만 -->
  <select id="getMainRecipeLike" resultType="com.harmony.www_service.dto.Recipe_recommendDto_by">
  	SELECT rr.*, r.recipeName 
  	FROM recipe_recommend rr 
  	JOIN recipe r 
  	ON rr.rcode = r.rcode 
  	WHERE rr.mno = #{mno}
  	LIMIT 3
  </select>
  <!-- 나의 레시피 3개만 -->
  <select id="getMyRecipeList" resultType="com.harmony.www_service.dto.RecipeDto">
  	SELECT * FROM recipe WHERE mno = #{mno} LIMIT 3
  </select>

</mapper>
