<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.harmony.www_service.dao.LoginDao">
  
  	<!-- username으로 user정보 가져오기 -->
  	<select id="findByUsername" resultType="com.harmony.www_service.dto.UserDto">
  		select * from user where username = #{username}
  	</select>
  
  	<!-- username으로 mno 가져오기 -->
  	<select id="getMnoByUsername" resultType="com.harmony.www_service.dto.MemberDto">
  		select mno from member where username = #{username}
  	</select>
  	
  	<!-- username으로 member테이블에서 nickname가져오기 -->
  	<select id="getNickname">
  		select nickName from member where username = #{username}
  	</select>
  	
  	<!-- 회원가입 user -->
  	<insert id="registUser">
  		insert into user (username, password, role)
  		values(#{username}, #{password}, #{role})
  	</insert>
  	
  	<!-- 회원가입 member -->
  	<insert id="registMember">
  		insert into member (username, nickName, addr, birth, phone, gender, joinDate)
  		values (#{username}, #{nickName}, #{addr}, #{birth}, #{phone}, #{gender}, NOW())
  	</insert>
  	
  	<!-- 아이디 중복검사 -->
  	<select id="checkUsername" parameterType="string" resultType="int">
    	SELECT COUNT(*) FROM member WHERE username = #{username}
	</select>
  
  </mapper>