<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmony.www_service.dao.Menu1Dao">


	<select id="showFridgeIngredient" parameterType="int"
		resultType="com.harmony.www_service.dto.IngredientDto">

		SELECT *
		FROM ingredient
		WHERE icode IN (
		SELECT icode
		FROM
		Fridge
		WHERE mno =
		#{mno}
		);


	</select>
	<select id="showFridgeIngredientIcodeList" parameterType="int"
		resultType="java.lang.Integer">

		SELECT icode
		FROM ingredient
		WHERE icode IN (
		SELECT icode
		FROM
		Fridge
		WHERE mno =
		#{mno}
		);
	</select>

	<select id="showRecipeIngredientIcodeList" parameterType="int"
		resultType="java.lang.Integer">


		SELECT icode
		FROM recipe_ingredient
		WHERE WHERE rcode =
		#{rcode}
		);

	</select>

	<select id="showFridgeIngredientForDto" parameterType="int"
		resultType="com.harmony.www_service.dto.IngredientDto2">


		SELECT i.*, f.deadline,f.mno
		FROM ingredient i
		JOIN fridge f
		ON i.icode =
		f.icode
		WHERE mno=#{mno}
		ORDER BY f.deadline;





	</select>





	<select id="getMno" resultType="int">

		SELECT mno
		FROM Member
		WHERE
		username =#{username};

	</select>


	<select id="showCanMakeMenu" parameterType="java.util.List"
		resultType="com.harmony.www_service.dto.MenuDto">
		SELECT *
		FROM menu
		WHERE mcode IN (
		SELECT mcode
		FROM recipe
		WHERE rcode IN
		(
		SELECT rcode
		FROM (
		SELECT ri1.rcode
		FROM recipe_ingredient ri1
		WHERE
		<choose>
			<when test="icodeList != null and !icodeList.isEmpty()">
				ri1.icode IN
				<foreach item="item" index="index" collection="icodeList"
					open="(" separator="," close=")">
					#{item}
				</foreach>
				AND NOT EXISTS (
				SELECT 1
				FROM recipe_ingredient ri2
				WHERE ri2.rcode =
				ri1.rcode
				AND ri2.icode NOT IN
				<foreach item="item" index="index" collection="icodeList"
					open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</when>
			<otherwise>
				-- Use a condition that always fails if the list is empty
				1 = 0
			</otherwise>
		</choose>
		) AS filtered_rcodes
		)
		);

	</select>


	<select id="showCanMakeMenu2" parameterType="java.util.List"
		resultType="com.harmony.www_service.dto.MenuDto">
		SELECT *
		FROM menu
		WHERE mcode IN (
		SELECT mcode
		FROM recipe
		WHERE rcode IN
		(
		SELECT ri1.rcode
		FROM recipe_ingredient ri1
		WHERE ri1.icode IN
		<foreach item="item" index="index" collection="icodeList"
			open="(" separator="," close=")">
			#{item}
		</foreach>
		AND (
		SELECT COUNT(*)
		FROM recipe_ingredient ri2
		WHERE ri2.rcode =
		ri1.rcode
		AND ri2.icode NOT IN
		<foreach item="item" index="index" collection="icodeList"
			open="(" separator="," close=")">
			#{item}
		</foreach>
		) &lt;= 2
		)
		)
	</select>



	<select id="showCanMakeMenu2_exclude"
		parameterType="java.util.Map"
		resultType="com.harmony.www_service.dto.MenuDto">
		SELECT *
		FROM menu
		WHERE mcode IN (
		SELECT mcode
		FROM recipe
		WHERE rcode IN
		(
		SELECT ri1.rcode
		FROM recipe_ingredient ri1
		WHERE
		<if test="icodeList != null and icodeList.size() > 0">
			ri1.icode IN
			<foreach item="item" index="index" collection="icodeList"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="icodeList == null or icodeList.size() == 0">
			1=1
		</if>
		AND (
		SELECT COUNT(*)
		FROM recipe_ingredient ri2
		WHERE ri2.rcode =
		ri1.rcode
		<if test="icodeList != null and icodeList.size() > 0">
			AND ri2.icode NOT IN
			<foreach item="item" index="index" collection="icodeList"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="icodeList == null or icodeList.size() == 0">
			AND 1=1
		</if>
		) &lt;= 2
		AND ri1.rcode NOT IN (
		SELECT ri3.rcode
		FROM recipe_ingredient
		ri3
		WHERE
		<if test="excludList != null and excludList.size() > 0">
			ri3.icode IN
			<foreach item="item" index="index" collection="excludList"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="excludList == null or excludList.size() == 0">
			1=1
		</if>
		)
		)
		)
	</select>












	<select id="showOneIngredient" parameterType="int"
		resultType="com.harmony.www_service.dto.IngredientDto">
		SELECT *
		FROM ingredient
		WHERE icode = #{icode}

		LIMIT 1;
	</select>

	<select id="selectExcludeIngredient"
		resultType="com.harmony.www_service.dto.IngredientDto">
		SELECT *
		FROM ingredient
		WHERE icode IN (
		SELECT icode
		FROM Fridge
		WHERE
		mno = #{mno}
		)
		<choose>
			<!-- When icodeList is not empty -->
			<when test="icodeList != null and !icodeList.isEmpty()">
				AND icode NOT IN
				<foreach item="item" index="index" collection="icodeList"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</when>
			<!-- When icodeList is empty or null -->
			<otherwise>
				<!-- No need to add additional conditions if icodeList is empty -->
			</otherwise>
		</choose>
	</select>


	<select id="getRcodeForMcode" parameterType="int"
		resultType="com.harmony.www_service.dto.RecipeDto">
		SELECT rcode
		FROM recipe
		WHERE mcode = #{mcode}
	</select>

	<select id="countIntersection" parameterType="java.util.List"
		resultType="int">
		SELECT COUNT(*)
		FROM (
		<foreach collection="fridgeIngredientList" item="val"
			separator=" UNION ALL ">
			SELECT #{val} AS val
		</foreach>
		) AS t1
		WHERE val IN
		<foreach item="item" index="index" collection="icodeList"
			open="(" separator="," close=")">
			#{item}
		</foreach>
		;
	</select>




	<select id="getCountFromValues" parameterType="java.util.List"
		resultType="int">
		SELECT COUNT(*)
		FROM (
		<foreach collection="inFridgeList" item="item"
			separator=" UNION ALL ">
			SELECT #{item} AS item
		</foreach>
		) AS t1
		WHERE val IN
		<foreach item="item" index="index" collection="icodeList"
			open="(" separator="," close=")">
			#{item}
		</foreach>
		;
	</select>


	<!-- <select id="showCanMakeMenu" parameterType="java.util.List" resultType="com.harmony.www_service.dto.MenuDto"> 
		SELECT menuName FROM menu WHERE mcode IN ( SELECT mcode FROM recipe WHERE 
		rcode IN ( SELECT rcode FROM ( SELECT ri1.rcode FROM recipe_ingredient ri1 
		WHERE ri1.icode IN (23,3,17) AND NOT EXISTS ( SELECT icode FROM recipe_ingredient 
		ri2 WHERE ri2.rcode = ri1.rcode AND ri2.icode NOT IN (23,3,17) ) GROUP BY 
		ri1.rcode HAVING COUNT(DISTINCT ri1.icode) = 3 ) AS filtered_rcodes ) ); 
		</select> -->

	<select id="getCountUsedIcodeFromInfridgeIcodeList"
		parameterType="java.util.List" resultType="int">
		SELECT COUNT(*)
		FROM
		recipe_ingredient ri1
		WHERE rcode IN( SELECT
		DISTINCT rcode
		FROM
		recipe_ingredient ri1
		WHERE ri1.icode IN
		<foreach item="item" index="index" collection="icodeList"
			open="(" separator="," close=")">
			#{item}
		</foreach>
		AND (
		SELECT
		COUNT(*)
		FROM recipe_ingredient ri2
		WHERE ri2.rcode =
		ri1.rcode
		AND
		ri2.icode NOT IN
		<foreach item="item" index="index" collection="icodeList"
			open="(" separator="," close=")">
			#{item}
		</foreach>
		) &lt;= 2

		) GROUP BY rcode;
	</select>


	<select id="getCountUsedIcodeFromInfridgeIcodeList2"
		parameterType="java.util.List" resultType="int">
		SELECT COUNT(*)
		FROM
		recipe_ingredient ri1
		WHERE rcode IN( SELECT DISTINCT rcode
		FROM
		recipe_ingredient ri1
		WHERE ri1.icode IN (23, 6, 17)
		AND (
		SELECT
		COUNT(*)
		FROM recipe_ingredient ri2
		WHERE ri2.rcode = ri1.rcode
		AND
		ri2.icode NOT IN (23, 6, 17)
		) &lt;= 2
		AND ri1.rcode NOT IN ( 
		SELECT ri3.rcode
		FROM recipe_ingredient ri3
		WHERE
		<if test="excludList != null and excludList.size() > 0">
			ri3.icode IN
			<foreach item="item" index="index" collection="excludList"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="excludList == null or excludList.size() == 0">
			1=1
		</if>
	</select>
		


</mapper>