<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmony.www_service.dao.Menu1Dao">
	<select id="showFridgeIngredient"
		resultType="com.harmony.www_service.dto.IngredientDto">

		SELECT NAME
		FROM ingredient
		WHERE icode IN (
		SELECT icode
		FROM Fridge
		WHERE mno = 1
		);

	</select>
</mapper>