<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmony.www_service.dao.MenuListDao">
    <select id="getMenuListByCategory" parameterType="string" resultType="com.harmony.www_service.dto.MenuDto">
        SELECT * FROM menu WHERE category = #{category}
    </select>

    <select id="searchMenus" resultType="com.harmony.www_service.dto.MenuDto">
        SELECT * FROM menu WHERE menuName LIKE CONCAT('%', #{term}, '%')
    </select>

    <select id="getFilteredMenuList" resultType="com.harmony.www_service.dto.MenuDto">
        SELECT DISTINCT m.*
        FROM menu m
        LEFT JOIN recipe r ON m.mcode = r.mcode
        LEFT JOIN recipe_ingredient ri ON r.rcode = ri.rcode
        WHERE 1=1
        <if test="categories != null and categories != ''">
            AND m.category IN (${categories})
        </if>
        <if test="ingredients != null and ingredients != ''">
            AND ri.icode IN (${ingredients})
        </if>
    </select>

    <select id="getAllMenus" resultType="com.harmony.www_service.dto.MenuDto">
        SELECT * FROM menu
    </select>
</mapper>