<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmony.www_service.dao.Menu2Dao">
	<insert id="insertMenuRequest"
		parameterType="com.harmony.www_service.dto.MenuReqDto">

		INSERT INTO menu_request (mno, menuName, category, imgUrl) 
		VALUES (#{menuReq.mno}, #{menuReq.menuName}, #{menuReq.category}, #{menuReq.imgUrl})

	</insert>

	<select id="findAll" resultType="com.harmony.www_service.dto.MenuReqWithMember">
		SELECT m.username, m.nickName, mrcode, menuName, category, imgUrl FROM member m 
		JOIN menu_request mr
		ON m.mno = mr.mno
	</select>

	<select id="canMakeMenuThatLack2" parameterType="java.util.List" resultType="com.harmony.www_service.dto.MenuDto">
		SELECT *
		FROM menu
		WHERE mcode IN (
			SELECT mcode
			FROM recipe
			WHERE rcode IN (
				SELECT ri1.rcode
				FROM recipe_ingredient ri1
				WHERE ri1.icode IN 
				<foreach item="item" index="index" collection="icodeList" open="(" separator="," close=")">
					#{item}
				</foreach>
				AND (
					SELECT COUNT(*)
					FROM recipe_ingredient ri2
					WHERE ri2.rcode = ri1.rcode
					AND ri2.icode NOT IN 
					<foreach item="item" index="index" collection="icodeList" open="(" separator="," close=")">
						#{item}
					</foreach>
				) &lt;= 2
			)
		)
	</select>

</mapper>