<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmony.www_service.dao.Menu1Dao">
	<select id="showFridgeIngredient"
		resultType="com.harmony.www_service.dto.IngredientDto">

		SELECT *
		FROM ingredient
		WHERE icode IN (
		SELECT icode
		FROM
		Fridge
		WHERE mno = 1
		);

	</select>
  
<select id="showCanMakeMenu" parameterType="java.util.List" resultType="com.harmony.www_service.dto.MenuDto">
    SELECT *
    FROM menu
    WHERE mcode IN (
        SELECT mcode
        FROM recipe
        WHERE rcode IN (
            SELECT rcode
            FROM (
                SELECT ri1.rcode
                FROM recipe_ingredient ri1
                WHERE ri1.icode IN 
                <foreach item="item" index="index" collection="icodeList" open="(" separator="," close=")">
                    #{item}
                </foreach>
                AND NOT EXISTS (
                    SELECT icode
                    FROM recipe_ingredient ri2
                    WHERE ri2.rcode = ri1.rcode
                    AND ri2.icode NOT IN 
                    <foreach item="item" index="index" collection="icodeList" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                )
               
            ) AS filtered_rcodes
        )
    );
</select>

<!-- 
<select id="showCanMakeMenu" parameterType="java.util.List" resultType="com.harmony.www_service.dto.MenuDto">
    SELECT menuName
    FROM menu
    WHERE mcode IN (
        SELECT mcode
        FROM recipe
        WHERE rcode IN (
            SELECT rcode
            FROM (
                SELECT ri1.rcode
                FROM recipe_ingredient ri1
                WHERE ri1.icode IN (23,3,17)
               
                AND NOT EXISTS (
                    SELECT icode
                    FROM recipe_ingredient ri2
                    WHERE ri2.rcode = ri1.rcode
                    AND ri2.icode NOT IN (23,3,17)
                    
                )
                GROUP BY ri1.rcode
                HAVING COUNT(DISTINCT ri1.icode) = 3
            ) AS filtered_rcodes
        )
    );
</select>
 -->
</mapper>