<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.harmony.www_service.dao.IMypage1Dao">

	<select id="getIceList" resultType="com.harmony.www_service.dto.FridgeIngredientDto">
		SELECT i.*, f.* FROM fridge f 
		JOIN ingredient i 
		ON f.icode = i.icode 
		WHERE f.keeptype = '냉동' AND f.mno = #{mno}
		ORDER BY f.deadline ASC LIMIT 3
	</select>

	<select id="getCoolList" resultType="com.harmony.www_service.dto.FridgeIngredientDto">
		SELECT i.*, f.* FROM fridge f 
		JOIN ingredient i 
		ON f.icode = i.icode 
		WHERE f.keeptype = '냉장' AND f.mno = #{mno}
		ORDER BY f.deadline ASC
	</select>

	<select id="getFoodList" resultType="com.harmony.www_service.dto.FridgeIngredientDto">
		SELECT i.*, f.* FROM fridge f 
		JOIN ingredient i 
		ON f.icode = i.icode 
		WHERE f.keeptype = '상온' AND f.mno = #{mno} 
		ORDER BY f.deadline ASC LIMIT 4
	</select>

	<!-- ALL -->
	<select id="getAllCoolList" resultType="com.harmony.www_service.dto.FridgeIngredientDto">
		SELECT i.*, f.* FROM fridge f 
		JOIN ingredient i 
		ON f.icode = i.icode 
		WHERE f.keeptype = '냉장' AND f.mno = #{mno}
		ORDER BY f.deadline ASC
	</select>

	<select id="getAllIceList" resultType="com.harmony.www_service.dto.FridgeIngredientDto">
		SELECT i.*, f.* FROM fridge f 
		JOIN ingredient i 
		ON f.icode = i.icode 
		WHERE f.keeptype = '냉동' AND f.mno = #{mno}
		ORDER BY f.deadline ASC
	</select>

	<select id="getAllFoodList" resultType="com.harmony.www_service.dto.FridgeIngredientDto">
		SELECT i.*, f.* FROM fridge f 
		JOIN ingredient i 
		ON f.icode = i.icode 
		WHERE f.keeptype = '상온' AND f.mno = #{mno} 
		ORDER BY f.deadline ASC
	</select>

	<select id="getAllList" resultType="com.harmony.www_service.dto.FridgeIngredientDto">
		SELECT i.*, f.* FROM fridge f 
		JOIN ingredient i 
		ON f.icode = i.icode 
		WHERE f.mno = #{mno} 
		ORDER BY f.deadline ASC
	</select>
	
	<!-- 유통기한 임박 10개 리스트 -->
	<select id="getAllDayList" resultType="com.harmony.www_service.dto.FridgeIngredientDto">
		SELECT i.*, f.* FROM fridge f 
		JOIN ingredient i 
		ON f.icode = i.icode 
		WHERE f.mno = #{mno} 
		ORDER BY f.deadline ASC
		LIMIT 10
	</select>

	<!-- 재료삭제 -->
	<delete id="deleteMaterial">
		DELETE FROM fridge WHERE fcode= #{fcode}
	</delete>
	
	<!-- 재료수정 위한 조회 -->
	<select id="getMaterialList" resultType="com.harmony.www_service.dto.FridgeIngredientDto">
		SELECT i.*, f.* FROM fridge f 
		JOIN ingredient i 
		ON f.icode = i.icode 
		WHERE f.fcode = #{fcode} 
	</select>
	
	<!-- 재료수정 -->
	<update id="updateMaterial">
		UPDATE fridge 
		SET 
			deadline = #{material.deadline},
			amount = #{material.amount},
			type = #{material.type},
			state = #{material.state},
			keeptype = #{material.keeptype},
			memo = #{material.memo}
		WHERE 
			fcode = #{material.fcode}
		AND 
			mno = #{material.mno}
	</update>
	
	<select id="getIngredientByFcode" resultType="com.harmony.www_service.dto.FridgeIngredientDto">
		SELECT i.*, f.* FROM fridge f 
		JOIN ingredient i 
		ON f.icode = i.icode 
		WHERE f.fcode = #{fcode} 
	</select>
	
	<!-- 마이냉장고 재료등록 -->
	<insert id="insertFridge">
		INSERT INTO fridge (mno, icode, keeptype, state, amount, type, deadline, memo) 
		VALUES (#{fi.mno}, #{fi.icode}, #{fi.keeptype}, #{fi.state}, #{fi.amount}, #{fi.type}, #{fi.deadline}, #{fi.memo})
	</insert>
		
	<select id="allIngredientList" resultType="com.harmony.www_service.dto.IngredientDto">
		SELECT * FROM ingredient
	</select>
	
	
	
</mapper>