<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmony.www_service.dao.MyRecipeDao">

	<!-- 내가 등록한 레시피 -->
	<select id="myRecipe"
		resultType="com.harmony.www_service.dto.RecipeDto">
		select * from recipe where mno = #{mno}
	</select>

	<!-- 내가 등록한 레시피 삭제 -->
	<delete id="deleteMyRecipe">
		delete from recipe where rcode = #{rcode}
	</delete>

	<select id="recipeInMenu"
		resultType="com.harmony.www_service.dto.MenuDto">
		SELECT r.rcode, r.mcode, m.menuName, m.imgurl
		FROM recipe r
		JOIN menu m
		ON r.mcode = m.mcode
		WHERE r.rcode = #{rcode}
	</select>

	<!-- 레시피 등록 -->
	<insert id="registMyRecipe" useGeneratedKeys="true"
		keyProperty="rcode">
		insert into recipe (mcode, mno, recipeName, introduce,
		url, category,
		portions, view, theme)
		values(#{mcode}, #{mno},
		#{recipeName},
		#{introduce}, #{url}, #{category},
		#{portions}, 0,
		#{theme})
	</insert>

	<!-- 레시피 재료 등록 -->
	<insert id="registMyRecipeIngredient">
		insert into recipe_ingredient (rcode, icode, amount)
		values(#{rcode}, #{icode}, #{amount})
	</insert>

	<!-- 레시피 요리순서 등록 -->
	<insert id="registMyRecipeOrder">
		insert into recipe_order (rcode, orderContent,
		orderNum, cookingImg)
		values (#{rcode}, #{orderContent}, #{orderNum},
		#{cookingImg})
	</insert>

	<!-- 레시피 태그 등록 -->
	<insert id="registMyRecipeTag">
		insert into recipe_tag (rcode, tagContent)
		values
		(#{rcode}, #{tagContent})
	</insert>

	<!-- 요리재료 icode로 type불러오기 -->
	<select id="getTypeByIcode">
		select type from ingredient where icode = #{icode}
	</select>

	<!-- 레시피 수정 -->
	<update id="updateMyRecipe"
		parameterType="com.harmony.www_service.dto.RecipeDto">
		update recipe set
		mcode = #{mcode},
		recipeName = #{recipeName},
		introduce = #{introduce},
		url = #{url},
		category = #{category},
		portions = #{portions},
		theme = #{theme}
		where rcode = #{rcode}
	</update>

	<!-- 레시피 재료 수정 -->
	<update id="updateMyRecipeIngredient"
		parameterType="com.harmony.www_service.dto.RecipeIngredientDto">
		update recipe_ingredient set
		icode = #{icode},
		amount =
		#{amount}
		where ricode = #{ricode}
	</update>

	<!-- 레시피 요리순서 수정 -->
	<update id="updateMyRecipeOrder"
		parameterType="com.harmony.www_service.dto.RecipeOrderDto">
		update recipe_order set
		orderContent = #{orderContent},
		orderNum = #{orderNum},
		cookingImg = #{cookingImg}
		where rocode =
		#{rocode}
	</update>

	<!-- 레시피 태그 수정 -->
	<update id="updateMyRecipeTag"
		parameterType="com.harmony.www_service.dto.RecipeTagDto">
		update recipe_tag set
		tagContent = #{tagContent}
		where
		rcode = #{rcode}
	</update>

	<!-- 레시피 수정을 위한 레시피 정보 -->
	<select id="getRecipeFindByRcode">
		select * from recipe where rcode = #{rcode}
	</select>

	<!-- 레시피 수정을 위한 레시피 재료정보 -->
	<select id="getRecipeIngredientFindByRcode">
		select ri.*, i.name, i.type
		from recipe_ingredient ri
		join ingredient i
		on ri.icode = i.icode
		where rcode = #{rcode}
	</select>

	<!-- 레시피 수정을 위한 레시피 요리순서 정보 -->
	<select id="getRecipeOrderFindByRcode">
		select * from recipe_order where rcode = #{rcode}
	</select>

	<!-- 레시피 수정을 위한 레시피 태그 정보 -->
	<select id="getRecipeTagFindByRcode">
		select * from recipe_tag
		where rcode = #{rcode}
	</select>


	<!-- 레시피 재료 삭제 -->
	<delete id="deleteMyRecipeIngredient">
		delete from recipe_ingredient where ricode =
		#{ricode}
	</delete>

	<!-- 모든 레시피 재료 삭제 -->
	<delete id="deleteAllRecipeIngredients">
		DELETE FROM recipe_ingredient WHERE rcode = #{rcode}
	</delete>

	<!-- 모든 요리 순서 삭제 -->
	<delete id="deleteAllRecipeOrders">
		DELETE FROM recipe_order WHERE rcode = #{rcode}
	</delete>

	<!-- 레시피 재료 추가 -->
	<insert id="insertMyRecipeIngredient"
		parameterType="com.harmony.www_service.dto.RecipeIngredientDto"
		useGeneratedKeys="true" keyProperty="ricode">
		INSERT INTO recipe_ingredient
		(rcode, icode, amount)
		VALUES (#{rcode}, #{icode}, #{amount})
	</insert>

	<!-- 레시피 요리 순서 추가 -->
	<insert id="insertMyRecipeOrder"
		parameterType="com.harmony.www_service.dto.RecipeOrderDto">
		INSERT INTO recipe_order (rcode, orderNum, orderContent,
		cookingImg)
		VALUES (#{rcode}, #{orderNum}, #{orderContent},
		#{cookingImg})
	</insert>

	<!-- 레시피 태그 추가 -->
	<insert id="insertMyRecipeTag"
		parameterType="com.harmony.www_service.dto.RecipeTagDto">
		INSERT INTO recipe_tag (rcode, tagContent)
		VALUES
		(#{rcode}, #{tagContent})
	</insert>

	<!-- 레시피 태그 존재 여부 확인 -->
	<select id="existsRecipeTag" resultType="boolean">
		SELECT COUNT(*) > 0
		FROM
		recipe_tag
		WHERE rcode = #{rcode}
	</select>



	<select id="getIngredient"
		resultType="com.harmony.www_service.dto.IngredientDto">
		select icode, name from ingredient
	</select>



</mapper>