<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.harmony.www_service.dao.MyRecipeDao">
  
  	<!-- 내가 등록한 레시피 -->
  	<select id="myRecipe" resultType="com.harmony.www_service.dto.RecipeDto">
  		select * from recipe where mno = #{mno}
  	</select>
  	
  	<delete id="deleteMyRecipe">
  		delete from recipe where rcode = #{rcode}
  	</delete>
  
  	<insert id="registMyRecipe">
  		insert into recipe (mcode, mno, recipeName, introduce, url, category, portions, view)
  		values(#{mcode}, #{mno}, #{recipeName}, #{introduce}, #{url}, #{category}, #{portions}, #{view})
  	</insert>
  	
  	<insert id="registMyRecipeIngredient">
  		insert into recipe_ingredient (rcode, icode, amount)
  		values(#{rcode}, #{icode}, #{amount})
  	</insert>
  	
  	<insert id="registMyRecipeOrder">
  		insert into recipe_order (rcode, content, orderNum, cookingImg)
  		values (#{rcode}, #{content}, #{orderNum}, #{cookingImg})
  	</insert>
  	
  	<insert id="registMyRecipeTag">
  		insert into recipe_tag (rcode, content)
  		values (#{rcode}, #{content})
  	</insert>
  	
  	<select id="getTypeByIcode">
  		select type from ingredient where icode = #{icode}
  	</select>
  	
  
  </mapper>