<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <style>
      .dally_btn {
        display: inline-block;
        margin-right: 10px;
      }
      .dally_btn form {
        display: inline;
      }
      #dally_update_btn,
      #dally_delete_btn {
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <header>
      <th:block th:insert="~{/sub/header.html}"></th:block>
    </header>
    <section>
      <h2 class="dally_h2">재료 상세보기</h2>
      <!-- 재료 디테일 출력 -->
      <div class="dally_ingredient_detail">
        <input
          type="hidden"
          name="icode"
          id="dally_icode"
          th:value="${detail.icode}"
        />
        재료 이미지<br /><img
          name="imgurl"
          th:src="@{'/img/ingredient/'+ ${detail.imgurl}}"
        /><br />
        재료 이름<span th:text="${detail.name}"></span><br />
        카테고리<span th:text="${detail.category}"></span><br />
        단위<span th:text="${detail.type}"></span><br />
        tip<span th:text="${detail.tip}"></span><br />
        <!-- 수정 버튼 -->
        <span class="dally_btn"
          ><button type="button" id="dally_update_btn">
            <a th:href="@{'/ingredient_update?icode='+${detail.icode}}">수정</a>
          </button></span
        >
        <!-- 삭제 버튼 -->
        <span class="dally_btn">
          <form
            id="deleteForm"
            th:action="@{/do_ingredient_delete}"
            method="post"
          >
            <input type="hidden" name="icode" th:value="${detail.icode}" />
            <input type="submit" value="삭제" id="dally_delete_btn" />
          </form>
        </span>
      </div>
    </section>

    <script>
      // 삭제 버튼 클릭 시, 삭제 기능 구현
      // 삭제 버튼을 누르면 confirm 뜸.
      // 정말 삭제하시겠습니까? 확인 / 취소
      // 확인을 누르면 삭제, 취소를 누르면 confirm 창이 사라짐
      // 확인을 눌렀을 때 삭제 기능이 구현되려면 컨트롤러에 요청을 보내야함
      // ajax 요청은 아님! 그럼 어떻게 보내더라...? => form으로...!!!!!!!!
      document.addEventListener("DOMContentLoaded", () => {
        const deleteBtn = document.getElementById("dally_delete_btn");
        const deleteForm = document.getElementById("deleteForm");

        deleteBtn.addEventListener("click", () => {
          const confirmDelete = confirm("선택 재료를 정말 삭제하시겠습니까?");
          if (confirmDelete) {
            deleteForm.submit();
          }
        });
      });
    </script>
  </body>
</html>
