<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
    </style>
</head>
<body>
<header>
<th:block th:insert="~{/sub/header.html}"></th:block>
</header>
<section>
    <h2>요청 메뉴 리스트</h2>
    <div class="dally_container"></div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        findList();
    });

    // 요청 메뉴 리스트 ajax 요청 보내기
    function findList() {
      fetch("/manager/menuReqlist")
        .then((response) => {
          if (!response.ok) {
            throw new Error(
              "Network response was not ok" + response.statusText
            );
          }
          return response.json();
        })
        .then((data) => {
          var menuReq_container = document.querySelector(".dally_container");
          menuReq_container.innerHTML = "";
          console.log(data)

          for (var i = 0; i < data.length; i++) {
            var menuReq_content =
              '<div class="add_menu_form"><form th:action="@{}" method="post">' + 
              '<div id="dally_menu_img"><input type="hidden" name="imgUrl" th:value=""><img src="/uploads/' +
              data[i].imgUrl + '"> ' + '</div><div id="dally_menu_menuName">'
              + data[i].menuName + '</div><div id="dally_menu_category">' + data[i].category +
              '<div id="dally_menu_mno"><input type="hidden" >' + 
              '</div><div id="dally_menu_username">' + data[i].username +'</div><button id="dally_accept">승인</button>' + 
              '<button id="dally_return">반려</button>';
              menuReq_container.innerHTML += menuReq_content;
          }

        })
        .catch((error) => console.error("Error:" + error));
    }


    // 추가 메뉴 승인 => 메뉴로 추가
    function addMenu(){
      const accept_btn = document.getElementById('dally_accept');
      const return_btn = document.getElementById('dally_return');

      accept_btn.addEventListener("click", () => {
        const 

      });
    }    
</script>
</body>
</html>